

/*MY CSS
--------------------------------------------------------------------------------*/
body, label {
    color: #fff
}

body, html {
    height: 100%
}

body {
    background: #050812 !important;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    color: #fff
}

.social-links {
    list-style: none;
    font-size: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0
}

.social-links-position {
    position: absolute;
    top: 5px;
    right: 240px
}

.social-links li {
    display: inline-block;
    margin: 0 2px 2px 0
}

    .social-links li a {
        width: 40px;
        height: 40px;
        display: block;
        text-align: center;
        font-size: 18px;
        border: 1px solid #e7e7e7;
        color: #cdcdcd;
        border-radius: 100%;
    }

        .social-links li a i {
            line-height: 40px
        }

        .social-links li a:hover {
            background-color: transparent;
            border-color: #0c9ec7;
            color: #0c9ec7;
            -webkit-transform: scale(1.05,1.05);
            transform: scale(1.05,1.05)
        }

.social-links.animated-effect-1 li a {
    -webkit-transition: color .4s;
    transition: color .4s;
    position: relative;
    z-index: 1
}

    .social-links.animated-effect-1 li a:hover {
        color: #fff !important;
        -webkit-transition: color .3s;
        transition: color .3s
    }

    .social-links.animated-effect-1 li a:after {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
        top: 0;
        left: 0;
        padding: 0;
        z-index: -1;
        background-color: #09afdf;
        -webkit-transition: -webkit-transform .4s,opacity .4s,background-color .4s;
        -webkit-transition: opacity .4s,background-color .4s,-webkit-transform .4s;
        transition: opacity .4s,background-color .4s,-webkit-transform .4s;
        transition: transform .4s,opacity .4s,background-color .4s;
        transition: transform .4s,opacity .4s,background-color .4s,-webkit-transform .4s;
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
        filter: alpha(opacity=0)
    }

    .social-links.animated-effect-1 li a:hover:after {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -webkit-transition: -webkit-transform 0s,opacity .3s,background-color .3s;
        -webkit-transition: opacity .3s,background-color .3s,-webkit-transform 0s;
        transition: opacity .3s,background-color .3s,-webkit-transform 0s;
        transition: transform 0s,opacity .3s,background-color .3s;
        transition: transform 0s,opacity .3s,background-color .3s,-webkit-transform 0s
    }

.social-links .dropdown-menu {
    z-index: 103;
    padding: 5px;
    min-width: 270px;
    margin-top: 6px;
    font-size: 0;
    box-shadow: none;
    background-color: #f2f2f2;
    border: 1px solid #D0D0D0;
    border-top: none;
}

    .social-links .dropdown-menu li a,
    .dark .social-links .dropdown-menu li a i,
    .colored .social-links .dropdown-menu li a i {
        padding: 0;
        line-height: 30px;
        color: #ffffff;
    }

        .social-links .dropdown-menu li a i {
            padding-left: 0;
        }

        .social-links .dropdown-menu li a:hover i {
            color: #ffffff;
        }

.text-success {
    color: rgb(8, 154, 207);
}

a.text-success:focus, a.text-success:hover {
    color: #33bdbd !important;
}

@font-face {
    font-family: 'digitalnumbers-regular';
    src: url('/waa-style/assets/fonts/digitalnumbers/digitalnumbers-regular.ttf') format('truetype');
}

.activateDar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
}

.admin-icons {
    float: right;
    padding: 5px 7px;
    margin: 0 5px 0 0;
}

.appt-sold, .vehicle-serviced, .return-customer, .visits-with-turn, .outbound-calls-per-day, .closed-ro-appt, .closed-ro-future, .sold-with-trade, .sold-return-customer, .sold-fresh-up, .sold-phone-up, .sold-internet {
    color: #1c1f26;
    background-color: #1c1f26;
    border-width: 0px;
}

.auto-metrics {
    height: 255px;
}

.autoscroll {
    display: block;
    position: absolute;
    top: 40px;
    right: 130px;
}

.baby-pie-donuts {
    height: 685px;
}

.backdrop {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 400px;
    background-color: #050812;
    z-index: -1;
}

.back-gross {
    color: rgba(60, 213, 46, 1);
}

.board-name-error, .email-error, .password-error {
    display: none;
}

.blocker {
    display: none;
    position: absolute;
    top: 0;
    left: 75px;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.brand-container {
    display: inline-block;
}

.brand-text {
    position: relative;
    top: 10px;
}

.btn.btn-success, .btn.btn-success.active, .btn.btn-success:active, .btn.btn-success:focus, .btn.btn-success:hover, .open .dropdown-toggle.btn-success {
    background: rgb(8, 154, 207);
    border-color: rgb(8, 154, 207);
}

.red-legend {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: #f76397;
}

.bdc-text {
    position: fixed;
    display: none;
    top: 350px;
    left: 75px;
    width: 295px;
    padding-right: 40px;
    height: 75px;
    background-color: #121620;
    color: white;
    z-index: 10000;
}

.bdc-manager:hover {
    border-left: 2px solid #00AEEF;
}

.blue-legend {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: #3bafda;
}

.blue-text {
    color: rgb(93, 156, 236);
    color: rgba(93, 156, 236, 0.3);
}

.box-prop {
    margin-top: 20px;
    padding: 20px;
    background-color: #1c1f26;
    border: 2px solid #252C3B;
    border-radius: 3px;
    color: #fff;
}

.grid-stack-item-content {
    overflow: hidden;
}

.m-b-25 > .box-prop {
    border: 0px solid black;
}

.call-back-time {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 45px;
}

.calls-skipped-text {
    margin-top: -20px;
}

.car-buyer-age {
    position: absolute;
    width: 90%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #6699FF;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    z-index: 1;
}

.center-text {
    text-align: center;
}

.charts-displayed {
    position: relative;
    left: 80px;
    z-index: 10;
}

.close-panel-container {
    width: 100%;
}

.color-white {
    color: white !;
}

.click-icons {
    color: #fff;
}

    .click-icons:hover {
        color: #fff;
    }

.close-dar-x {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #009dce;
    cursor: pointer;
    cursor: hand;
    z-index: 101;
}

.close-dar-background {
    position: absolute;
    top: 30px;
    right: 27px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: white;
    z-index: 1;
}

.close-fullscreen {
    display: none;
    position: absolute;
    top: 40px;
    right: 40px;
}

.close-x {
    position: absolute;
    display: none;
    top: 30px;
    right: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    cursor: hand;
}

.cta-button {
    position: absolute;
    right: 20px;
    padding: 10px;
    background-color: #009dce;
    border-radius: 3px;
    color: white;
}

.customize-manager:hover {
    border-left: 2px solid #00AEEF;
}

.customize-text {
    position: fixed;
    display: none;
    top: 440px;
    left: 75px;
    width: 170px;
    padding-right: 40px;
    height: 75px;
    background-color: #121620;
    color: white;
    z-index: 10000;
}

.dar {
    color: white;
    margin-bottom: 40px;
    font-weight: 200;
}

/*.dar-button-container {
margin-top: 40px;
}*/

.dar-container {
    width: 513px;
}

.dar-heading {
    display: block;
    margin-bottom: 20px;
    color: white;
    font-size: 1.4em;
}

.dark-border {
    background-color: #1b1b1b;
}

.dark-gray {
    background-color: #1b1b1b;
}

.dealersocket-sales-number {
    text-align: right;
    color: #A4B0BC;
    font-size: 2em;
}

.demo {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

.display-sales-by-value {
    color: #30e0e0;
}

.dealership-overview {
    visibility: hidden;
}

.download-dar {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -165px;
    margin-left: -310px;
    padding: 40px;
    width: 620px;
    height: 330px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 1.4em;
    z-index: 1000;
}


.donut-accented {
    height: 540px;
}

.expand-fullscreen {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
}

.general-manager:hover {
    border-left: 2px solid #00AEEF;
}

.green-legend {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: #00b19d;
}

.grey-legend {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: #797979;
}

.gridstack {
    overflow: hidden;
}

.gm-text {
    position: fixed;
    display: none;
    padding-right: 40px;
    width: 210px;
    top: 85px;
    left: 75px;
    height: 75px;
    background-color: #121620;
    color: white;
    z-index: 10000;
}

.fa-save {
    display: inline-block;
    padding-right: 20px;
    z-index: 3;
}

.fa-toggle-off {
    display: block;
    position: absolute;
    top: 32px;
    right: 80px;
}

.fa-toggle-on {
    display: none;
    position: absolute;
    top: 32px;
    right: 80px;
}

.flow-right {
    float: right;
}

.font-1-4 {
    font-size: 1.4em;
}

.franchise-download {
    display: inline-block;
    margin-right: 20px;
    width: 130px;
    background-color: #009dce;
    border-radius: 7px;
    padding: 7px;
    text-align: center;
}

    .franchise-download > a {
        color: white;
        text-decoration: none;
    }

.fresh-up-legend {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.fs-70 {
    font-size: 70px;
}

.hide {
    display: none;
}

.horizontal-bar {
    height: 540px;
}

.independent-download {
    float: right;
    width: 130px;
    background-color: #009dce;
    border-radius: 7px;
    padding: 7px;
    text-align: center;
}

    .independent-download > a {
        color: white;
        text-decoration: none;
    }

.inline {
    display: inline-block;
}

.interactive-map {
    height: 100%;
}

.interactive-map-container {
    height: 540px;
    overflow: hidden;
}

.last-month-amount {
    font-size: 1.4em;
}

.last-week-amount {
    font-size: 1.4em;
}

.latest-video {
    margin-top: 40px;
    width: 100%;
}

.left-navigation {
    position: fixed;
    top: 80px;
    left: 0;
    height: 100%;
    width: 75px;
    background-color: #121620;
    z-index: 11;
}

.left-section {
    height: auto;
}

.light-blue {
    color: #3ddcf7;
}

.light-blue-legend {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: #3ddcf7;
}

.line-series {
    height: 540px;
}

.login-manager:hover {
    border-left: 2px solid #00AEEF;
}

.login-text {
    position: fixed;
    display: none;
    top: 525px;
    left: 75px;
    padding-right: 40px;
    height: 75px;
    background-color: #121620;
    color: white;
    z-index: 10000;
}

.login-link-1 {
    display: block;
}

.login-link-2 {
    display: none;
}

.logo-dealersocket {
    display: inline-block;
    padding-top: 40px;
    padding-right: 50px;
}

.logo-text {
    display: inline-block;
    color: white !important;
    font-size: 18px;
    font-weight: 500;
}

.logout-manager {
    display: none;
}

    .logout-manager:hover {
        border-left: 2px solid #00AEEF;
    }

.logout-text {
    position: fixed;
    display: none;
    top: 525px;
    left: 75px;
    padding-right: 40px;
    height: 75px;
    background-color: #121620;
    color: white;
    z-index: 10000;
}

.logout-text-user-profile {
    position: fixed;
    display: none;
    top: 440px;
    left: 75px;
    padding-right: 40px;
    height: 75px;
    background-color: #121620;
    color: white;
    z-index: 10000;
}

.m-t-20 {
    margin-top: 20px;
}

.mask {
    display: none;
}

.main-container {
    position: absolute;
    left: 0;
    width: 100% !important;
    background-color: #050812;
    z-index: 10;
}

.metrics {
    color: white;
}

.minute-sales-number {
    text-align: right;
    color: #FB6698;
    font-size: 2em;
}

.mobile-header {
    display: none;
}

.mobile-nav {
    display: none;
}

.month-sales-number {
    text-align: right;
    color: #3DB4DA;
    font-size: 2em;
}

.nav-icon {
    margin: 30px 20px 30px 20px;
    cursor: pointer;
}

.new-legend {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: #3bafda;
}

.no-padding {
    padding: 0 0 0 0 !important;
}

.not-hidden {
    display: block !important;
}

.panel-heading {
    position: absolute;
    top: 20px;
    left: 0;
    width: 90%;
    height: 90%;
    background-color: rgba(0,0,0,0) !important;
    z-index: 100;
}

.password-error {
    display: none;
    color: red;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-lr-0 {
    padding: 0 0 0 0 !important;
}

.p-lr {
    padding: 0 10px 0 10px !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.phone-response-time {
    height: 400px;
}

.pink {
    color: #f76397;
}

.pink-legend {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: #f76397;
}

.profit-metrics {
    position: absolute;
    width: 90%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    z-index: 1;
}

.profit-metrics-daily {
    position: absolute;
    width: 90%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    z-index: 1;
}

.profits-new {
    color: rgba(0, 152, 206, 1);
}

.profits-used {
    color: rgba(0, 152, 206, 1);
}

.reach-them {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 160px;
    color: white;
    background-color: #009dce;
    border-radius: 3px;
    padding: 7px;
    text-align: center;
}

.real-time-chart {
    height: 540px;
}

.recover-error {
    display: none;
}

.recover-success {
    display: none;
}


.refresh-manager {
    display: none;
}

    .refresh-manager:hover {
        border-left: 2px solid #00AEEF;
    }

.refresh-text {
    position: fixed;
    display: none;
    top: 610px;
    left: 75px;
    padding-right: 40px;
    height: 75px;
    background-color: #121620;
    color: white;
    z-index: 10000;
}


.registration-explanation {
    margin: 20px 0;
}

.response-time {
    display: inline-block;
}

.revenue-radar-metrics {
    position: absolute;
    width: 90%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    z-index: 1;
}

.revenue-sl-box {
    margin-top: 30px;
    text-align: center;
}

.right-content {
    position: fixed;
    top: 100px;
    left: 520px;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #1c1f26;
    border: 2px solid #202532;
    overflow: auto;
    z-index: -2;
}

.sales-by-value {
    position: absolute;
    width: 90%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    z-index: 1;
}

.sales-manager:hover {
    border-left: 2px solid #00AEEF;
}

.sales-legend {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: rgb(255,255,255);
}

.sales-text {
    position: fixed;
    top: 175px;
    left: 75px;
    display: none;
    width: 200px;
    padding-right: 40px;
    height: 75px;
    background-color: #121620;
    color: white;
    z-index: 10000;
}

.save-template {
    position: absolute;
    left: 50%;
    right: 50%;
    display: none;
    width: 140px;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    z-index: 2;
}

.save-text {
    float: right;
    margin-top: 5px;
    z-index: 2;
}

.service-legend {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: rgb(93, 156, 236);
    background-color: rgba(93, 156, 236, 0.3);
}

.service-manager:hover {
    border-left: 2px solid #00AEEF;
}

.service-text {
    position: fixed;
    display: none;
    top: 260px;
    left: 75px;
    width: 210px;
    padding-right: 40px;
    height: 75px;
    background-color: #121620;
    color: white;
    z-index: 10000;
}


.single-pie {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 100px;
    width: 100px;
}

.speed-text {
    position: absolute;
    bottom: 20px;
    font-size: 24px;
}

.target-amount {
    font-size: 1.4em;
}

.target-bar-line {
    height: 400px;
}

.target-bar-line-2 {
    height: 400px;
}

.target-revenue-bar {
    height: 400px;
}

.target-revenue-bar-2 {
    height: 400px;
}

.target-revenue-line {
    height: 400px;
}

.target-revenue-line-2 {
    height: 400px;
}

.target-revenue-line-no-fill {
    height: 400px;
}

.target-revenue-line-no-fill-2 {
    height: 400px;
}

.target-revenue-pie {
    height: 400px;
}

.target-revenue-pie-2 {
    height: 400px;
}

.target-revenue-pie-no-fill {
    height: 400px;
}

.target-revenue-spike {
    height: 400px;
}

.template-links {
    width: 300px;
    margin-top: -45px;
    margin-left: auto;
    margin-right: auto;
}

.templates > li {
    float: right;
    margin: auto 10px auto 10px;
    list-style-type: none;
    text-decoration: none;
}

    .templates > li > a {
        color: white;
    }

.text-container {
    width: 350px;
    float: right;
    padding: 7px;
    border-radius: 3px;
    color: black;
    background-color: white;
}

.title-text {
    padding-bottom: 20px !important;
    position: relative;
    font-size: 2em;
}

.top-widget {
    height: 120px;
}

.total-back-gross {
    color: rgba(0, 172, 172, 1);
}

.total-front-gross {
    color: rgba(182, 194, 201, 1);
}

.tw-stats {
    float: right;
    text-align: right;
    height: 80px;
    padding: 10px 0 0 0;
}

.used-back-gross {
    color: rgba(60, 213, 46, 1);
}

.used-front-gross {
    color: rgba(0, 152, 206, 1);
}

.used-legend {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.v-center {
    margin-top: 30px;
    cursor: pointer;
}

.vertical-bar {
    height: 540px;
}

.vidyard_wrapper {
    padding-bottom: 20px;
    float: none !important;
}

.waa-heading {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100% !important;
    background-color: #121620;
    z-index: 1001;
}

.waa-logo {
    display: inline-block;
    margin-left: 20px;
}

.white-legend {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.ytd-sales-number {
    text-align: right;
    color: #1AAA95;
    font-size: 2em;
}

@media screen and (max-width: 375px) {
    .waa-logo {
        margin-left: 45px
    }
}

@media screen (min-width: 375px) and (max-width: 480px) {
    .waa-logo {
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .backdrop {
        left: 0;
    }

    .bdc-text {
        top: 355px;
    }

    .customize-text {
        top: 450px;
    }

    .gm-text {
        top: 95px;
    }

    .left-navigation {
        display: none;
    }

    .login-text {
        top: 535px;
    }

    .mobile-nav {
        position: absolute;
        top: 22px;
        left: 20px;
        display: block;
    }

        .mobile-nav:hover {
            cursor: pointer;
        }

    .charts-displayed {
        left: 0;
    }

    .refresh-text {
        display: none
    }

    .sales-text {
        top: 185px;
    }

    .service-text {
        top: 275px;
    }

    .shrink-mobile {
        width: 263px;
    }

    .waa-logo {
        display: flex;
        justify-content: center;
        margin-top: 4px;
    }
}

@media screen and (max-width: 720px) {
    .autoscroll {
        display: none;
    }

    .backdrop {
        display: none;
    }

    .calls-skipped-text {
        margin-top: 0;
    }

    .dealership-overview .box-prop {
        padding: 31px;
    }

    .expand-toggle {
        display: none;
    }

    .right-content {
        overflow: auto;
    }

    .single-pie {
        top: 30px;
    }

    .template-links {
        position: absolute;
        top: 105px;
        right: 30px;
    }

    .toggle-icons {
        display: none;
    }

    .waa-heading {
        height: 80px;
        max-height: 80px;
    }
}

@media all and (min-width: 768px) and (max-width: 840px) {
    .box-prop.auto-metrics {
        padding: 11px;
        height: auto;
    }

    .dealership-overview-grid .m-b-25 > .box-prop {
        height: 243px;
    }

    .ipad-view {
        padding: 20px;
    }
}

@media screen and (max-width: 899px) {
    .social-links-position {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .brand-container {
        display: none;
    }
}

@media screen and (max-width: 1250px) {
    .larger-screen {
        display: none;
    }
}

@media screen and (max-width: 1525px) {
    .logo-text {
        display: none;
    }
}

#average-days-sold {
    margin-top: 20px;
    height: 420px;
}


#baby-pie {
    padding: 20px;
    height: 685px;
}

#bar-chart {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}


#bar-chart-no-guides-2 {
    padding-top: 20px;
    width: 387px;
    margin-left: auto;
    margin-right: auto;
}

#black-box {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#blue-box {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#board-name {
    display: none;
}

#cancel-login {
    display: block;
    text-align: right;
    cursor: pointer;
}

#cancel-registration {
    display: block;
    text-align: right;
    cursor: pointer;
}

#cars-sold-pie {
    height: 100%;
}

#content {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#customize {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 80px;
    color: white;
    background-color: #009dce;
    border-radius: 3px;
    padding: 7px;
    text-align: center;
}

#customize-waa {
    color: white;
    text-decoration: none;
}

#dealersocket-pie {
    height: 100%;
}

#doughnut-profit-container {
    max-width: 250;
    margin-left: auto;
    margin-right: auto;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#doughnut-chart-profit {
    max-width: 500px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
}

#doughnut-chart-profit-today {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#doughnut-chart-sales-by-value {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#doughnut-chart-age {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#ds-wheel-logo {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    border-top-left-radius: 200%;
    border-top-right-radius: 120%;
    border-bottom-left-radius: 120%;
    top: -20px;
    left: -50px;
}

#FGP {
    color: rgba(0, 152, 206, 1);
}

#interactive-map {
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#light-blue-box {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#line-chart-fill {
    padding-top: 20px;
}

#line-chart-no-fill {
    padding-top: 20px;
}

#live-updated-chart {
    margin-top: 20px;
    height: 470px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#login-form-button {
    position: absolute;
    top: 30px;
    right: 130px;
    width: 80px;
    padding: 7px;
    border-radius: 3px;
    color: white;
    background-color: #009dce;
    text-align: center;
}

#login-waa {
    color: white;
    text-decoration: none;
}

#minute-pie {
    height: 100%;
}

#mobile-ds-logo {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}

#month-pie {
    height: 100%;
}

#morris-donut {
    height: 325px;
    margin-top: 67px;
}

#number-cars {
    color: #30e0e0;
}

#phone-business-hours {
    height: 325px;
}

#new-car-profit {
    padding-top: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#used-car-profit {
    padding-top: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#purple-box {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#reach-them {
    text-decoration: none;
}

#repeat-customer-gauge {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#revenue-sparkline {
    padding-top: 20px;
}

#revenue-sparkline-2 {
    padding-top: 20px;
}

#sold-new-past-30-days-average {
    padding-top: 20px;
    width: 387px;
    margin-left: auto;
    margin-right: auto;
}

#strength-gauge {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#target-bar-line {
    padding-top: 20px;
    width: 387px;
    margin-left: auto;
    margin-right: auto;
}

#target-bar-line-2 {
    padding-top: 20px;
    width: 387px;
    margin-left: auto;
    margin-right: auto;
}


#triple-gauges {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#UGP {
    color: rgba(0, 152, 206, 1);
}
